body{
    font-family: "Roboto Thin", serif;
    margin: 0;
    height:100%;
}

.headerContainer{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

.logo{
    display: flex;
}

.headerLinks{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.webIntro{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 20px;
}

.introTextContainer{
    display: flex;
    width: 300px;
    height: 150px;
    padding: 10px;
    flex-direction: column;
}

.introHead{}

.introText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.introButton{
    background-color: #3882F6;
    border: 0;
    color: white;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
}

.introImg{
    display: flex;
    color: black;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.48);
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-around;
}

.infoTitle{
    align-items: center;
}

.infoBoxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 400px;
}

.boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 400px;
    padding: 2px;
}

.box{
    height: 140px;
    width: 140px;
    border-radius: 8px;
    border: 2px solid #3B82F6;
}

.textUnderBox{
    width: 140px;
    text-align: center;
}

.quoteContainer{
    display: flex;
    height: 100px;
    padding: 10px;
    background-color: #E5E7EB;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    //display: flex;
    //align-items: center;
    //flex-direction: column;
    justify-content: center;
}

.quote{
    width: 300px;
}

.ownerOfquote{
    width: 400px;
    font-weight: bolder;
    text-align: end;
}