body{
    font-family: "Roboto Thin", serif;
    margin: 0;
    height:100%;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

.logo{
    display: flex;
}

.headerLinks{
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.webIntro{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px;
}

.introTextContainer{
    display: flex;
    width: 300px;
    height: 150px;
    padding: 10px;
    flex-direction: column;
}

.introHead{}

.introText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.introButton{
    background-color: #3882F6;
    border: 0;
    color: white;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
}

.introImg{
    display: flex;
    color: black;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.48);
}

.infoContainer{
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    align-items: center;
    height: 150px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

.infoTitle{
    align-items: center;
}

.infoBoxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
    width: 600px;
    height: 300px;
}

.boxContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70px;
    padding: 2px;
}

.box{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 20px black;
}